import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {

}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: white;
}

/* navbar */
.navbar {
  background: white;
}

.navbar-icon {
  font-size: 2rem;
  color: red;
}

.navbar-toggler {
  outline-color: red !important;
}

.nav-link {
  color: red;
  text-transform: capitalize;
}

.nav-link:hover {
  color: darkred;
}

.nav-icon {
  font-size: 1.5rem;
  color: red;
  text-decoration: none;
}

.nav-icon:hover {
  color: darkred;
}

.nav-icon {
  font-size: 1.5rem;
  color: rgb(226, 43, 43);
  text-decoration: none;
  transition-property: color;
  transition-duration: 2s;

}