import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {

}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: white;
}

/* section title */
.section-title--special {
  background: Red; opacity:0.50;
  color: white;
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/* navbar */
.navbar {
  background: white;
}

.navbar-icon {
  font-size: 2rem;
  color: red;
}

.navbar-toggler {
  outline-color: red!important;
}

.nav-link {
  color: red;
  text-transform: capitalize;
}

.nav-link:hover {
  color: darkred;
}

.nav-icon {
  font-size: 1.5rem;
  color: red;
  text-decoration: none;
}

.nav-link:hover {
  color: darkred;
}

.nav-icon {
  font-size: 1.5rem;
  color: rgb(226, 43, 43);
  text-decoration: none!important;
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.nav-icon:hover {
  color: darkred;
}

/* header */
.header {
  clip-path: polygon(0 0,100% 0,100% 95%,50%  100%,0 95%);
  color: white;
}

.height-max {
  min-height: calc(100vh - 76px);
  background:url('/img/header-bkg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) translateX(-5%)
  }
  100% {
    transform: scale(1)
  }
}

.title-heading {
  background: rgba(0,0,0,0.4);
  border-left: 0.3 solid red;  
}

.title {
  font-weight: 700;
  font-size: 1.9rem;
}

@media screen and (min-width:768px) {
  .title {
    font-size: 3rem;
  }
}

.title-icon {
  color: white;
  text-decoration: none!important;
}

.title-icon:hover {
  color: white;
  opacity: 0.6;
}

/* skills */
.skills-icon {
  font-size: 3rem;
  color: red;  
}

.skills-icon:hover {
  color: darkred;
}




